.bg-footer {
  background-color: #753985;
}

.social-icon {
  border-radius: 100px;
  background: linear-gradient(180deg, #6626AA 0%, #2E104E 100%), #FFF;
  transition: opacity 0.2s ease-in-out;
}

.social-icon:hover {
  opacity: 0.9;
}
