.modal-bg {
  background-image: url("../../../assets/background-card-3.png"); 
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-blend-mode: overlay;
}
